.Movie {
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
    text-overflow: ellipsis;
    padding: 0 20px;
    box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133, 0.22);
}

.Movie_Column {
    width: 30%;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.Movie_Column:last-child {
    padding: 20px 0;
    width: 60%;
}

.Movie_h1 {
    font-size: 20px;
    font-weight: 600;
}

.Movie .Movie_Genres {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.Movie_Genres .Movie_Genre{
    margin-left: 10px;
    color:#B4B5BD;
}
.Movie .Movie_Synopsis{
    text-overflow: ellipsis;
    color:#B4B5BD;
    overflow: hidden;
}
.Movie .Movie_Poster{
    max-width: 100%;
    position: relative;
    top:-20px;
    box-shadow: -10px 19px 38px rgba(83,83,83, 0.3), 10px 15px 12px rgba(83,83,83, 0.22);
}
@media screen and (min-width:320px) and (max-width:667px) and (orientation: portrait){
    .Movie{
        width: 100%;
        flex-direction: column;
    }
    .Movie_Poster{
        top:0;
        left: 0;
        width: 100%;
    }
    .Movie_Column{
        width: 100%!important;
    }
}