.TodoListItem-virtualized + .TodoListItem-virtualized {
    border-top: 1px solid #dee2e6;
}

.TodoListItem-virtualized:nth-child(even) {
    background: #f8f9fa;
}

.TodoListItem {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.TodoListItem .checkbox {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
}

.TodoListItem .checkbox svg {
    font-size: 1.5rem;
}

.TodoListItem .checkbox .text {
    margin-left: 0.5rem;
    flex: 1;
}

.TodoListItem .checkbox.checked svg {
    color: #22b8cf;
}

.TodoListItem .checkbox.checked .text {
    color: #abd5bd;
    text-decoration: line-through;
}

.TodoListItem .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;
}

.TodoListItem .remove:hover {
    color: #ff8787;
}

/*# sourceMappingURL=TodoListItem.css.map */
