.TodoInsert {
    display: flex;
    background: #495057;
}

.TodoInsert input {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;
    flex: 1;
}

.TodoInsert input::placeholder {
    color: #dee2e6;
}

.TodoInsert button {
    background: #868e96;
    outline: white;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    align-items: center;
    transition: 0.1s background-position ease-in;
}

.TodoInsert button:hover {
    background: #abd5bd;
}

/*# sourceMappingURL=TodoInsert.css.map */
