.result {
    height: 60px;
    background-color: #efefef;
    width: 100%;
}

.result p {
    font-size: 40px;
    margin: 5px;

}

.calculator-body {
    max-width: 400px;
    margin: auto;
}

.button {
    display: block;
    background-color: #bbb;
}

button {
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: #333;
    border: 1px solid #bbb;
    cursor: pointer;
}

button.number {
    background-color: #efefef;
}

button.number:hover {
    background: #ddd;
}

button.number:active {
    background-color: #ccc;
}

button.op {
    background-color: #FF9B22;
}

button.op:hover {
    background-color: #f99112;
}

button.op:active {
    background-color: #EB7016;
}
